.react-draggable,
.cursor {
  cursor: move;
}
.no-cursor {
  cursor: auto;
}
.cursor-y {
  cursor: ns-resize;
}
.cursor-x {
  cursor: ew-resize;
}

.react-draggable strong {
  background: #ddd;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  margin-bottom: 10px;
  padding: 3px 5px;
  text-align: center;
}

.box {
  position: absolute;
  cursor: move;
  background: rgba(0, 0, 0, 0.02);
  border: 1px solid #ccc;
  border-radius: 3px;
  float: left;
  z-index: 10;
}

.delete-icon {
  position: absolute;
  font-size: 1rem;
  height: 20px;
  width: 20px;
  top: -10px;
  right: -10px;
  z-index: 100;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.3s;
}
.delete-icon:hover {
  scale: 1.2;
}

.no-pointer-events {
  pointer-events: none;
}
.hovered {
  background-color: gray;
}

/*
     * RemWrapper needs to take it's styles from this element,
     * and this element can't have an absolute position after it's kicked in.
     * AFAIK it's not possible to do this directly in the RemWrapper component.
     */
.rem-position-fix {
  position: static !important;
}
